/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *  http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License. 
 */
:root {
  --small-font-size: 12px;
  --selected-cell: rgba(190, 200, 205, 0.3);
}

.boxed-expression-provider {
  /*dx*/
  /*background-color: var(--pf-v5-global--BackgroundColor--100);*/
  font-family: var(--pf-v5-global--FontFamily--sans-serif);
  font-size: var(--pf-v5-global--FontSize--md);
  font-weight: var(--pf-v5-global--FontWeight--normal);
  line-height: var(--pf-v5-global--LineHeight--md);
  text-align: left;
  user-select: none;
  touch-action: none;
  height: 100%;
}

.boxed-expression-provider *,
.boxed-expression-provider *:after,
.boxed-expression-provider *:before {
  box-sizing: border-box;
}

.boxed-expression-provider a,
.boxed-expression-provider button {
  cursor: pointer;
}

.boxed-expression-provider table {
  border-spacing: 0;
}

.boxed-expression-provider button,
.boxed-expression-provider input,
.boxed-expression-provider optgroup,
.boxed-expression-provider select,
.boxed-expression-provider textarea,
.boxed-expression-provider label {
  font-family: inherit;
  line-height: var(--pf-v5-global--LineHeight--md);
  color: var(--pf-v5-global--Color--100);
}

.expression-container .expression-info .expression-info-name {
  font-weight: 700;
  color: var(--pf-v5-global--palette--black-600);
  font-family: Menlo, monospace;
  font-size: 0.8rem;
  /*white-space: pre !important;*/
  text-align: left;
  padding: 0.5rem;
}

.expression-container .expression-info .expression-info-data-type {
  white-space: pre !important;
  font-style: italic;
  font-size: smaller;
  color: #1b515f;
}

/*dx*/

:where(.pf-v5-theme-dark) .expression-container > .expression-container-box {
  border: none !important;
  box-shadow: none !important;
  border-radius: 1px !important;
}

/*monaco editor # num */
:where(.pf-v5-theme-dark) .mtk0 {
  color: #ed05ed;
}
:where(.pf-v5-theme-dark) .mtk1 {
  color: #9db4f5 !important;
}
:where(.pf-v5-theme-dark) .mtk4 {
  color: #dadada !important;
}
/* string */
:where(.pf-v5-theme-dark) .mtk5 {
  color: #666666 !important;
  /*
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 2%;
  max-width: 25px;
  overflow: hidden;
  */
  background-color: #333333;
  font-size: 10px;
  border-radius: 2px;
  padding: 1px;
}
.editable-cell-raw-value .mtk5 {
  display: block !important;
}
:where(.pf-v5-theme-dark) .mtk6 {
  color: #dc9372 !important;
}
:where(.pf-v5-theme-dark) .mtkb {
  color: #fda581 !important;
}
:where(.pf-v5-theme-dark) .mtk7 {
  color: #50b3fa !important;
  /*display: inline; background-color: #cccccc;*/
  /*border-radius: 4px;*/
  /*padding: 2px;*/
}
:where(.pf-v5-theme-dark) .mtk8 {
  color: #e6e6e6 !important;
}

/*dx*/
:where(.pf-v5-theme-dark) .expression-container .expression-info .expression-info-name {
  font-weight: 700;
  font-family: Menlo, monospace;

  color: ghostwhite;
}

:where(.pf-v5-theme-dark) .expression-container .expression-info .expression-info-data-type {
  font-style: italic;
  font-size: smaller;
  display: none;
  position: fixed;
  left: 35px;
  bottom: 20px;
}

:where(.pf-v5-theme-dark) .expression-container .expression-info:hover .expression-info-data-type {
  display: block !important;
}

:where(.pf-v5-theme-dark) .pf-c-dropdown__toggle.pf-m-plain:not(.pf-m-text) {
  display: none !important;
}
:where(.pf-v5-theme-dark) .pf-v5-c-drawer__splitter::after {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

:where(.pf-v5-theme-dark) .expression-container .expression-container-box {
  font-size: 12px;
  font-style: italic;
  /*color: gray;*/

  /*background-color: #666;*/
}
:where(.pf-v5-theme-dark) .expression-container .decision-table-expression table thead th.annotation {
  color: var(--pf-v5-global--Color--400);
  font-size: 12px !important;
  font-weight: lighter;
}

:where(.pf-v5-theme-dark) .expression-container .table-component table tbody tr td.row-index-column-cell {
  color: var(--pf-v5-global--Color--400);
}

:where(.pf-v5-theme-dark) .expression-container .table-component table tbody tr td {
  padding: 0;
  border-style: solid;
  color: var(--pf-v5-global--palette--black-600);
  border-width: 0.2px;
  text-align: center;
  overflow: visible;
  position: relative;
}
.logic-type-selected-header .pf-v5-c-dropdown {
  display: none;
}
.logic-type-selected-header:hover .pf-v5-c-dropdown {
  display: block;
}

.equals-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pf-v5-global--palette--black-400);
}
:where(.pf-v5-theme-dark) .conditional-expression .data-cell div div {
  color: var(--pf-v5-global--palette--black-300);
}
:where(.pf-v5-theme-dark) .conditional-expression .data-cell {
  border: none !important;
}
:where(.pf-v5-theme-dark) .expression-container-box .expression-container-box .literal-expression .data-cell {
  border: none !important;
}
